<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Web_Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Web_Studio.Properties.Settings>
      <setting name="EditorShowLineNumbers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EditorLinkTextForegroundBrush" serializeAs="String">
        <value>#FF00BFFF</value>
      </setting>
      <setting name="EditorFontSize" serializeAs="String">
        <value>14</value>
      </setting>
    </Web_Studio.Properties.Settings>
  </userSettings>
</configuration>