<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net452" />
  <package id="WebMarkupMin.Core" version="1.0.0" targetFramework="net452" />
  <package id="WebMarkupMin.MsAjax" version="1.0.0" targetFramework="net452" />
</packages>